name: Cineblix Unit Test

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Run Unit Tests
        run: |
          xcodebuild \
            -project CineBlix.xcodeproj \
            -scheme CineblixTest \
            -destination 'platform=iOS Simulator,name=iPhone 15 Pro,OS=latest' \
            clean test | xcpretty
